     body {
         margin: 1rem;
         padding: 0;
         background: #000000;
         /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #434343, #000000);
         /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right, #434343, #000000);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         overflow: hidden;
         color: white;
         font-family: Poppins, sans-serif;
     }

     .introduction {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         align-items: center;
         height: 100vh;
         width: 100vw;
     }

     .intro__container {
         width: 50vw;
     }

     .introduction__title {
         font-size: 4rem;
         font-weight: 700;
         line-height: 1.1;
         font-family: 'Syne', sans-serif;
         text-transform: uppercase;
         margin-bottom: 2rem;

         color: #eb5e28;
     }


     .introduction__button {
         margin-top: 4rem;
         font-size: 2rem;
        margin-left: 2rem;
     }

     .introduction__text {
         font-size: 14px;
         font-weight: 400;
         line-height: 1.5;
         margin-bottom: 2rem;
         margin-left: 2rem;
         width: 50%;
         color: #f4f4f4;
     }

     #c {
         margin: 0 auto;
         margin-top: 5rem;
         box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
         padding: 1rem;
     }

     #c2 {
         margin: 0 auto;
         margin-top: 5rem;
         box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
         padding: 1rem;
     }

     .app__container {
         height: 100vh;
         width: 100vw;
         display: flex;
         flex-direction: row-reverse;
         gap: 1rem;
         display: none;
     }

     .app {
         height: 85vh;
         flex: 1;
     }

     .settings {
         background-color: #eb5e28;
         height: 100vh;
         overflow: hidden;
         width: 35vw;
     }

     .settings__title {
         padding: 1rem;
         margin-left: 1rem;
         margin-bottom: 1rem;
         font-size: 1.5rem;
         font-weight: 700;
         line-height: 1.1;
         font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
         text-transform: uppercase;
         color: #fff;
     }

     .settings__generation {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         height: 100%;
     }

     .settings__instructions {
         font-size: 12px;
         width: 30vw;
         margin-left: 2rem;
        font-family: Poppins, sans-serif;
     }

     .settings__camera {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;

     }

     .camera__button {
         margin-bottom: .4rem;
         padding: 1rem;
         font-size: 12px;
         border: none;
     }

     .camera__button.active {
         color: black;
     }


     .settings__prompt {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: .5rem;
         padding: 1rem;
         font-size: 14px;

     }

     .prompt__label {
         font-size: 12px;
         align-self: flex-start;
         margin-left: 1rem;
         width: 95%;
         margin-bottom: 1rem;
         font-family: Poppins, sans-serif;

     }

     .prompt__textarea {
         width: 25vw;
         height: 15vh;
         border-radius: 5px;
         border: 1px solid #ccc;
         font-size: 12px;
         resize: none;
         font-family: Poppins, sans-serif;
     }

     .prompt__textarea:focus {
         outline: none;
         border: 2px solid #191919;
     }

     .settings__animation {
         display: none;
         flex-direction: column;
         justify-content: space-evenly;
         height: 100%;

     }


     .settings__animation__options {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
     }

     .animations {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         align-items: center;
         height: 100%;
         margin-top: 2rem;
     }

     .first__animation,
     .second__animation,
     .third__animation,
     .fourth__animation {
         margin-bottom: .4rem;
         padding: 1rem;
         font-size: 12px;
         border: none;

     }


     .first__animation.active,
     .second__animation.active,
     .third__animation.active,
     .fourth__animation.active {
         color: black;
     }


     .upload__image {
         display: inline-block;
         color: #f4f4f4;
     }


     .upload__label {
         display: flex;
         flex-direction: row;
         margin-top: 2rem;
         margin-left: 2rem;
     }

     .upload__input {
         color: #f4f4f4;
         display: flex;
         font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
         font-size: 12px;
         font-weight: 700;
         line-height: 1.5;
         text-decoration: none;
         text-transform: uppercase;
     }

     .upload__label svg {
         margin-right: 10px;
     }

     .restart__button {
         position: absolute;
         top: 1rem;
         right: 1rem;
     }



     .render__indicator {
         display: none;
         font-size: 12px;
         margin-left: 1rem;
         color: #fff;
     }

     hr {
         border: .5px solid #f4f4f4;
         width: 100%;
         margin-top: 1rem;
     }

     button {
         align-items: center;
         background-color: transparent;
         color: #fff;
         cursor: pointer;
         display: flex;
         font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
         font-size: 1rem;
         font-weight: 700;
         line-height: 1.5;
         text-decoration: none;
         text-transform: uppercase;
         outline: 0;
         border: 0;
         padding: 1rem;
     }

     button:before {
         background-color: #fff;
         content: "";
         display: inline-block;
         height: 1px;
         margin-right: 10px;
         transition: all .42s cubic-bezier(.25, .8, .25, 1);
         width: 0;
     }

     button:hover:before {
         background-color: #fff;
         width: 3rem;
     }

     button :active {
         color: black;
     }


     .loader {
         position: absolute;
         width: 100vw;
         height: 100vh;
         background: #000000;
         /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #434343, #000000);
         /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right, #434343, #000000);
         display: none;

     }

     .loader__text {
         position: absolute;
         top: 60%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 1rem;
         color: #fff;
         text-transform: uppercase;
         font-weight: 700;
         font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     }

     .loader__status {
         position: absolute;
         top: 70%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 0.6rem;
         color: #fff;
         text-transform: uppercase;
         font-weight: 700;
         font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     }

     .loader__item {
         width: 16px;
         height: 16px;
         position: relative;
         left: 50%;
         top: 45%;
         border-radius: 50%;
         color: #fff;
         background: currentColor;
         box-shadow: 32px 0, -32px 0, 64px 0;
     }

     .loader__item::after {
         content: '';
         position: absolute;
         left: -32px;
         top: 0;
         width: 16px;
         height: 16px;
         border-radius: 10px;
         background: #FF3D00;
         animation: move_351 3s linear infinite alternate;
     }

     @keyframes move_351 {

         0%,
         5% {
             left: -32px;
             width: 16px;
         }

         15%,
         20% {
             left: -32px;
             width: 48px;
         }

         30%,
         35% {
             left: 0px;
             width: 16px;
         }

         45%,
         50% {
             left: 0px;
             width: 48px;
         }

         60%,
         65% {
             left: 32px;
             width: 16px;
         }

         75%,
         80% {
             left: 32px;
             width: 48px;
         }

         95%,
         100% {
             left: 64px;
             width: 16px;
         }
     }